<%= render 'shared/index_banner' %>

<div class="container my-4" id="collection">
	<div class="container card-deck">
		<div class="row">
			<% @cocktails.each do |cocktail| %>
			<div class="col-4">
				<div class="card bg-dark text-white my-2">
				  <% if cocktail.image_url != "" %>
				   <%= image_tag cocktail.image_url, class: "card-img-top fit-image" %>
				  <% elsif cocktail.photo.attached? %>
				  	<%= cl_image_tag(cocktail.photo.key, width: 400, height: 300, crop: :fill, class: "card-img-top fit-image") %>
			    <% else %>
			    	<%= image_tag "https://i.imgur.com/8iPM8iD.jpg", class: "card-img-top fit-image" %>
			    <% end %>
				  <div class="card-img-overlay d-flex justify-content-center">
				    <h3 class="card-title text-center white-link m-auto"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
